{% extends "base.html" %}
{% block content %}
{% for k in kayttaja%}
<div style="color:green"><h1>{{k.tunnus}}</h1></div>
<p>
    <button class="btn btn-danger">Poista</button> <a href="{{base_path}}/kayttajaMuokkaus" class="btn btn-default">Muokkaa</a>
</p>

<ul>
    <li><strong>Ikä:</strong> {{k.ika}}</li>
    {% if k.admin %}
    <li><strong>Admin: </strong><input type="checkbox" checked="checked" disabled="disabled" /></li>
    {% else %}
    <li><strong>Admin: </strong><input type="checkbox" disabled="disabled" /></li>
    {% endif %}
</ul>
<p><Strong>Tarkempi kuvaus:</strong> {{k.kuvaus}}</p>

 {% if message != null %}
<div class="alert alert-success">
  {{message}}
</div>
  {% endif %}
{% endfor %}
{% endblock %}