{% extends "base.html" %}
{% block content %}
<div style="color:green"><h1>Näkymä - käyttäjät</h1></div>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Tunnus</th>
            <th>Ikä</th>
            <th>Admin</th>
        </tr>
    </thead>

    <tbody>
        {% for k in kayttajat %}
        <tr>
            <td><a href="{{base_path}}/kayttaja/{{k.tunnus}}">{{k.tunnus}}</a></td>
            <td>{{k.ika}}</td>
            {% if k.admin %}
            <td> <input type="checkbox" name="admin" value="ON" checked="checked" disabled="disabled" /></td>
            {% else %}
            <td> <input type="checkbox" name="admin" value="OFF" disabled="disabled" /></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}