{% extends "base.html" %}
{% block content %}

{% if user_logged_in.admin %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% for k in kayttaja%}
<div style="color:green"><h1>{{k.tunnus}}</h1></div>
<p>
    <a href="{{base_path}}/kayttajaPoisto/{{k.tunnus}}" class="btn btn-danger">Poista</a> <a href="{{base_path}}/kayttajaMuokkaus/{{k.tunnus}}" class="btn btn-default">Muokkaa</a>
</p>

<ul>
    <li><strong>Ikä:</strong> {{k.ika}}</li>
    {% if k.admin %}
    <li><strong>Admin: </strong><input type="checkbox" checked="checked" disabled="disabled" /></li>
    {% else %}
    <li><strong>Admin: </strong><input type="checkbox" disabled="disabled" /></li>
    {% endif %}
</ul>
<p><Strong>Tarkempi kuvaus:</strong> {{k.kuvaus}}</p>

 {% if message != null %}
<div class="alert alert-success">
  {{message}}
</div>
  {% endif %}
{% endfor %}

{% else %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% for k in kayttaja%}
<div style="color:green"><h1>{{k.tunnus}}</h1></div>

<ul>
    <li><strong>Ikä:</strong> {{k.ika}}</li>
    {% if k.admin %}
    <li><strong>Admin: </strong><input type="checkbox" checked="checked" disabled="disabled" /></li>
    {% else %}
    <li><strong>Admin: </strong><input type="checkbox" disabled="disabled" /></li>
    {% endif %}
</ul>
<p><Strong>Tarkempi kuvaus:</strong> {{k.kuvaus}}</p>

 {% if message != null %}
<div class="alert alert-success">
  {{message}}
</div>
  {% endif %}
{% endfor %}

{% endif %}
{% endblock %}