{% extends "base.html" %}
{% block content %}


{% if (user_logged_in.admin) or (user_logged_in.tunnus == kayttaja.tunnus) %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
    <br>
    <form method="get" action="{{base_path}}/kayttajaPoisto/{{kayttaja.tunnus}}/rekursiivi" class="destroy-form" data-confirm="Olet poistamassa käyttäjän {{kayttaja.tunnus}}, vaikka hänellä on tekemättömiä töitä. Jatketaanko?">
        <button type="submit" class="btn btn-danger">Poista silti</button>
    </form>
</div>
{% endif %}

<div style="color:green"><h1>{{kayttaja.tunnus}}</h1></div>
<p>
<form method="get" action="{{base_path}}/kayttajaPoisto/{{kayttaja.tunnus}}" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa käyttäjän {{kayttaja.tunnus}}?">
    <button type="submit" class="btn btn-danger">Poista</button>
    <a href="{{base_path}}/kayttajaMuokkaus/{{kayttaja.tunnus}}" class="btn btn-default">Muokkaa</a>
</form>
</p>

<ul>
    <li><strong>Ikä:</strong> {{kayttaja.ika}}</li>
    {% if kayttaja.admin %}
    <li><strong>Admin: </strong><input type="checkbox" checked="checked" disabled="disabled" /></li>
    {% else %}
    <li><strong>Admin: </strong><input type="checkbox" disabled="disabled" /></li>
    {% endif %}
</ul>
<p><Strong>Tarkempi kuvaus:</strong> {{kayttaja.kuvaus}}</p>

 {% if message != null %}
<div class="alert alert-success">
  {{message}}
</div>
  {% endif %}

{% else %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


<div style="color:green"><h1>{{kayttaja.tunnus}}</h1></div>


<ul>
    <li><strong>Ikä:</strong> {{kayttaja.ika}}</li>
    {% if kayttaja.admin %}
    <li><strong>Admin: </strong><input type="checkbox" checked="checked" disabled="disabled" /></li>
    {% else %}
    <li><strong>Admin: </strong><input type="checkbox" disabled="disabled" /></li>
    {% endif %}
</ul>



<p><Strong>Tarkempi kuvaus:</strong> {{kayttaja.kuvaus}}</p>

 {% if message != null %}
<div class="alert alert-success">
  {{message}}
</div>
  {% endif %}

{% endif %}

{% endblock %}