{% extends "base.html" %}
{% block content %}

{% if user_logged_in.admin %}

<div style="color:green"><h1>{{tyo.kuvaus}}</h1></div>

<p>
<form method="get" action="{{base_path}}/tyoPoisto/{{tyo.id}}" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa työn?">
    <button type="submit" class="btn btn-danger">Poista</button>
    <a href="{{base_path}}/tyoMuokkaus/{{tyo.id}}" class="btn btn-default">Muokkaa</a>
</form>

</p>

<ul>
    <li><strong>ID:</strong><font color='red'> {{tyo.id}}</font></li>
    <li><strong>Työn kohde:</strong> <a href="{{base_path}}/tyonKohdeKuvaus/{{tyo.kohde}}"> {{tyo.kohde}}</a></li>
    <li><strong>Työkalu:</strong> <a href="{{base_path}}/tyokaluKuvaus/{{tyo.tyokalu}}"> {{tyo.tyokalu}}</a></li>

    {% if tyo.tehty %}
    <li><strong>Tehty: </strong><input type="checkbox" checked="" disabled="disabled"></li>
    <li><strong>Suoritusaika: </strong>{{tyo.suoritusaika}}</li>
    {% else %}
    <li><strong>Tehty: </strong><input type="checkbox" disabled="disabled"></li>
    {% endif %}


</ul>
<p><strong>Tekijät:</strong></p>
{% for tekija in tekijat %}
<ul>
    <li><a href="{{base_path}}/kayttaja/{{tekija.tunnus}}">{{tekija.tunnus}}</a></li>
</ul>
{% endfor %}
<p><strong>Tarkempi kuvaus:</strong> {{tyo.tarkempi_kuvaus}}</p>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}


{% else %}

<div style="color:green"><h1>{{tyo.kuvaus}}</h1></div>

<ul>
    <li><strong>ID:</strong><font color='red'> {{tyo.id}}</font></li>
    <li><strong>Työn kohde:</strong> <a href="{{base_path}}/tyonKohdeKuvaus/{{tyo.kohde}}"> {{tyo.kohde}}</a></li>
    <li><strong>Työkalu:</strong> <a href="{{base_path}}/tyokaluKuvaus/{{tyo.tyokalu}}"> {{tyo.tyokalu}}</a></li>

    {% if tyo.tehty %}
    <li><strong>Tehty: </strong><input type="checkbox" checked="" disabled="disabled"></li>
    <li><strong>Suoritusaika: </strong>{{tyo.suoritusaika}}</li>
    {% else %}
    <li><strong>Tehty: </strong><input type="checkbox" disabled="disabled"></li>
    {% endif %}


</ul>
<p><strong>Tekijät:</strong></p>
{% for tekija in tekijat %}
<ul>
    <li><a href="{{base_path}}/kayttaja/{{tekija.tunnus}}">{{tekija.tunnus}}</a></li>
</ul>
{% endfor %}
<p><strong>Tarkempi kuvaus:</strong> {{tyo.tarkempi_kuvaus}}</p>

{% if tyo.tehty == null %}
<a href="{{base_path}}/tyoTehty/{{tyo.id}}" class="btn btn-success">Kuittaa tehdyksi</a>
{% endif %}
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

{% endif %}

{% endblock %}