{% extends "base.html" %}
{% block content %}

<div style="color:green"><h1>Näkymä - Työt</h1></div>
<br>
<form action="{{base_path}}/etsiTyo" method="post">
    <input list="etsiTyo" name="kuvaus">
    <datalist id="etsiTyo">
        {% for t in tyot %}
        <option value="{{t.kuvaus}}">
            {% endfor %}
    </datalist>
    <input type="submit" value="etsi">
</form>

{% if message != null %}
<br>
<div class="alert alert-danger">
    {{message}}
</div>
{% endif %}

<br>
<p>
    <a href="{{base_path}}/uusiTyo" class="btn btn-success">Lisää työ</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Kuvaus</th>
            <th>Työn kohde</th>
            <th>Työkalu</th>
            <th>Tehty</th>
        </tr>
    </thead>

    <tbody>
        {% for tyo in tyot %}
        <tr>
            <td>{{tyo.id}}</td>
            <td><a href="{{base_path}}/tyo/{{tyo.id}}">{{tyo.kuvaus}}</td>
            <td><a href="{{base_path}}/tyonKohdeKuvaus/{{tyo.kohde}}">{{tyo.kohde}}</td>
            <td><a href="{{base_path}}/tyokaluKuvaus/{{tyo.tyokalu}}">{{tyo.tyokalu}}</td>
            {% if tyo.tehty %}
            <td> <input type="checkbox" checked="" disabled="disabled" /></td>
            {% else %}
            <td> <input type="checkbox" disabled="disabled" /></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}