{% extends "base.html" %}
{% block content %}
<form method="post" action="{{base_path}}/tyo">
    <div class="form-group">
        <label for="kuvaus">Kuvaus</label>
        <input type="Text" class="form-control" name="kuvaus" placeholder="Anna kuvaus">
    </div>
    <div class="form-group">
        <label for="kohde">Työn kohde</label>
        <br>
        <!--<input type="text" class="form-control" name="kohde" placeholder="Anna työn kohde">-->
        <select name="kohde">
            {% for k in kohteet %}
            <option value="{{k.kuvaus}}">{{k.kuvaus}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="tyokalu">Työkalu</label>
        <br>
        <!--<input type="text" class="form-control" name="tyokalu" placeholder="Anna työkalu">-->
        <select name="tyokalu">
            {% for t in tyokalut %}
            <option value="{{t.kuvaus}}">{{t.kuvaus}}</option>
            {% endfor %}
        </select>
    </div>
    <p><strong>Tekijät:</strong></p>
    <div class="form-group">
        <select name="tekijat[]" multiple>
            {% for k in kayttajat %}
            <option value="{{k.tunnus}}">{{k.tunnus}}</option>
            {% endfor %}
        </select>
        <br>
        Voit valita useamman tekijän käyttämällä Ctrl- tai Shift-näppäintä.
    </div>
    <div class="form-group">
        <label for="tarkempi_kuvaus">Tarkempi kuvaus</label>
        <textarea rows="12" cols="20" class="form-control" name="tarkempi_kuvaus" placeholder="Anna tarkempi kuvaus"></textarea>
    </div>    
    <div class="form-group">
        <button type="submit" class="btn btn-default">Luo</button>
    </div>
</form>
{% endblock %}
