{% extends "base.html" %}
{% block content %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="POST" action="{{base_path}}/registering">
    <div class="form-group">
        <label for="username">Tunnus</label>
        <input type="Text" class="form-control" name="username" placeholder="Anna käyttäjätunnus" value="{{attributes.username}}">
    </div>
    <div class="form-group">
        <label for="password">Salasana</label>
        <input type="password" class="form-control" name="password" placeholder="Anna salasana" value="{{attributes.password}}">
    </div>
    <div class="form-group">
        <label for="age">Ikä</label>
        <input type="text" class="form-control" name="age" placeholder="Anna ikäsi" value="{{attributes.age}}">
    </div>    
        
    <div class="form-group">
        <label for="description">Tarkempi kuvaus</label>
        <textarea rows="5" cols="10" class="form-control" name="description" placeholder="Anna tarkempi kuvaus itsestäsi">{{attributes.description}}</textarea>
    </div>  
    
    <button type="submit" class="btn btn-default">Luo</button>
</form>
{% endblock %}