{% extends "base.html" %}
{% block content %}
<h1>Siivoa jääkaappi rätillä</h1>
<!-- Painikkeet tähän -->
<p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
</p>
<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>ID:</strong> 000001</li>
    <li><strong>Työn kohde:</strong> <a href="#"> Jääkaappi</a></li>
    <li><strong>Työkalu:</strong> <a href="#"> Rätti</a></li>
    <li><strong>Tehty: </strong><input type="checkbox"></li>
</ul>
{% endblock %}