{% extends "base.html" %}
{% block content %}

<div style="color:green"><h1>Näkymä - Työt</h1></div>
<br>
<form action="{{base_path}}/findWork" method="post">
    <input list="findWork" name="description">
    <datalist id="findWork">
        {% for work in works %}
        <option value="{{work.description}}">
            {% endfor %}
    </datalist>
    <input type="submit" value="find">
</form>

{% if message != null %}
<br>
<div class="alert alert-danger">
    {{message}}
</div>
{% endif %}

<br>
<p>
    <a href="{{base_path}}/newWork" class="btn btn-success">Lisää työ</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Kuvaus</th>
            <th>Työn kohde</th>
            <th>Työkalu</th>
            <th>Tehty</th>
        </tr>
    </thead>

    <tbody>
        {% for work in works %}
        <tr>
            <td>{{work.id}}</td>
            <td><a href="{{base_path}}/work/{{work.id}}">{{work.description}}</td>
            <td><a href="{{base_path}}/workObjectDesc/{{work.object}}">{{work.object}}</td>
            <td><a href="{{base_path}}/workToolDesc/{{work.tool}}">{{work.tool}}</td>
            {% if work.done %}
            <td> <input type="checkbox" checked="" disabled="disabled" /></td>
            {% else %}
            <td> <input type="checkbox" disabled="disabled" /></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}