{% extends "base.html" %}
{% block content %}


{% if (user_logged_in.admin) or (user_logged_in.username == user.username) %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
    <br>
    <form method="get" action="{{base_path}}/userDelete/{{user.username}}/rekursive" class="destroy-form" data-confirm="Olet poistamassa käyttäjän {{user.username}}, vaikka hänellä on tekemättömiä töitä. Jatketaanko?">
        <button type="submit" class="btn btn-danger">Poista silti</button>
    </form>
</div>
{% endif %}

<div style="color:green"><h1>{{user.username}}</h1></div>
<p>
<form method="get" action="{{base_path}}/userDelete/{{user.username}}" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa käyttäjän {{user.username}}?">
    <button type="submit" class="btn btn-danger">Poista</button>
    <a href="{{base_path}}/userEdit/{{user.username}}" class="btn btn-default">Muokkaa</a>
</form>
</p>

<ul>
    <li><strong>Ikä:</strong> {{user.age}}</li>
    {% if user.admin %}
    <li><strong>Admin: </strong><input type="checkbox" checked="checked" disabled="disabled" /></li>
    {% else %}
    <li><strong>Admin: </strong><input type="checkbox" disabled="disabled" /></li>
    {% endif %}
</ul>
<p><Strong>Käyttäjän kuvaus:</strong> {{user.description}}</p>

 {% if message != null %}
<div class="alert alert-success">
  {{message}}
</div>
  {% endif %}

{% else %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


<div style="color:green"><h1>{{user.username}}</h1></div>


<ul>
    <li><strong>Ikä:</strong> {{user.age}}</li>
    {% if user.admin %}
    <li><strong>Admin: </strong><input type="checkbox" checked="checked" disabled="disabled" /></li>
    {% else %}
    <li><strong>Admin: </strong><input type="checkbox" disabled="disabled" /></li>
    {% endif %}
</ul>



<p><Strong>Käyttäjän kuvaus:</strong> {{user.description}}</p>

 {% if message != null %}
<div class="alert alert-success">
  {{message}}
</div>
  {% endif %}

{% endif %}

{% endblock %}