{% extends "base.html" %}
{% block content %}

{% if user_logged_in.admin %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div style="color:green"><h1>{{object.description}}</h1></div>
<p>
<form method="get" action="{{base_path}}/workObjectDelete/{{object.id}}" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa työn kohteen {{object.description}}?">
    <button type="submit" class="btn btn-danger">Poista</button>
    <a href="{{base_path}}/workObjectEdit/{{object.id}}" class="btn btn-default">Muokkaa</a>
</form>
</p>
<ul>
    <li><strong>Luomispäivä:</strong> {{object.created}}</li>
</ul>

<p><strong>Tarkempi kuvaus:</strong> {{object.longer_description}}</p>

 {% if message != null %}
<div class="alert alert-success">
  {{message}}
</div>
  {% endif %}

{% else %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div style="color:green"><h1>{{object.description}}</h1></div>

<ul>
    <li><strong>Luomispäivä:</strong> {{object.created}}</li>
</ul>

<p><strong>Tarkempi kuvaus:</strong> {{object.longer_description}}</p>

 {% if message != null %}
<div class="alert alert-success">
  {{message}}
</div>
  {% endif %}

{% endif %}

{% endblock %}