{% extends "base.html" %}
{% block content %}

{% if user_logged_in %}

{% if user_logged_in.admin %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div style="color:green"><h1>{{tyonKohde.kuvaus}}</h1></div>
<p>
    <a href="{{base_path}}/tyonKohdePoisto/{{tyonKohde.id}}" class="btn btn-danger">Poista</a> <a href="{{base_path}}/tyonKohdeMuokkaus/{{tyonKohde.id}}" class="btn btn-default">Muokkaa</a>
</p>
<ul>
    <li><strong>Luomispäivä:</strong> {{tyonKohde.luotu}}</li>
</ul>

<p><strong>Tarkempi kuvaus:</strong> {{tyonKohde.tarkempi_kuvaus}}</p>

 {% if message != null %}
<div class="alert alert-success">
  {{message}}
</div>
  {% endif %}

{% else %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div style="color:green"><h1>{{tyonKohde.kuvaus}}</h1></div>

<ul>
    <li><strong>Luomispäivä:</strong> {{tyonKohde.luotu}}</li>
</ul>

<p><strong>Tarkempi kuvaus:</strong> {{tyonKohde.tarkempi_kuvaus}}</p>

 {% if message != null %}
<div class="alert alert-success">
  {{message}}
</div>
  {% endif %}

{% endif %}

{% else %}

<div style="color:green"><h1>Kirjaudu sisään tarkastellaksesi työn kohteita!</h1></div>

{% endif %}
{% endblock %}