{% extends "base.html" %}
{% block content %}
{% for t in tyonKohde %}
<div style="color:green"><h1>{{t.kuvaus}}</h1></div>
<p>
    <button class="btn btn-danger">Poista</button> <a href="{{base_path}}/tyonKohdeMuokkaus" class="btn btn-default">Muokkaa</a>
</p>
<ul>
    <li><strong>Lisäyspäivä:</strong> {{t.luotu}}</li>
</ul>

<p><strong>Tarkempi kuvaus:</strong> {{t.tarkempi_kuvaus}}</p>

 {% if message != null %}
<div class="alert alert-success">
  {{message}}
</div>
  {% endif %}
{% endfor %}
{% endblock %}